# UI Automation
playwright==1.52.0
pytest==8.2.0
pytest-bdd==7.1.2
pytest-playwright==0.6.2
pytest-xdist==3.5.0

# Reporting
allure-pytest==2.13.5

# API & Validation
requests==2.32.3
jsonschema==4.23.0
pydantic==2.11.0
faker==25.2.0

# Mock API server
fastapi==0.115.0
uvicorn==0.30.6
httpx==0.27.0

# Config
python-dotenv==1.0.1

# AI Analyst
httpx==0.27.0
anthropic==0.40.0
